<!DOCTYPE html>
<html lang="zh_CN">
	<head>
		<title>all cards</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport"
		content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<script src="<?=base_url()?>/Public/js/jslib/utils.js"></script>
		<script src="<?=base_url()?>Public/js/jslib/jquery2x.js"></script>
		<style>
			input {
				margin: 5px;
				display: block;
			}
		</style>
	</head>
	<style>
	</style>
	<body>
		<form action="<?= base_url() ?>index.php/sys/card_console/upload" method="post" accept-charset="utf-8" enctype="multipart/form-data">
		<!--
		<form action="<?= base_url() ?>index.php/sys/card_console/upload" method="post" accept-charset="utf-8" enctype="multipart/form-data">
		-->
			id:<input type="number" name="card_index" />
			name:<input type="text" name="card_name" />
			atk:<input type="number" name="atk" />
			hp: <input type="number" name="hp"/>
			<hr/>
			battle:   <input type="file" name="battle" >
			character:<input type="file" name="character" >
			normal:   <input type="file" name="normal" >
			select:   <input type="file" name="select" >
			<hr/>
			<br>
			<input type="submit" value="上传">
		</form>
	</body>
	<script src="<?=base_url() ?>Public/js/cards/cardConfigObjList.js"></script>
</html>