/*
http://localhost/LostIsland//Public/images/cards/normalAvatar/saber.jpg
http://localhost/LostIsland//Public/images/cards/normalAvatar/archer.jpg
http://localhost/LostIsland//Public/images/cards/normalAvatar/caster.jpg
http://localhost/LostIsland//Public/images/cards/normalAvatar/rider.jpg
http://localhost/LostIsland//Public/images/cards/normalAvatar/assassin.jpg
*/
.list{

}
.list .my-deck{
    background-color: #474747;
    margin: 5px 2% 0;
    width: 96%;
    height: 60px;
}
.list .my-deck:after{
    clear: left;
}
.list .my-deck .my-card-one{
    width: 10%;
    height: 100%
}
.list hr{
    margin: 5px 2%;
    background-color: #474747;
    border:none;
    height: 15px;
}
.list .all-cards-list{
    margin: 2px 2%;
    background-color: #474747;
}
.list .all-cards-list:after{
    clear: left;
}
.list .all-cards-list .my-card-one{
    background-color: #474747;
    margin:0 1.5% 5px;
    width: 30%;
    padding-top: 50%;
}