.list{

}
.list .my-deck{
    background-color: #DBDBDB;
    margin: 5px 2% 0;
    width: 96%;
    height: 60px;
}
.list .my-deck:after{
    clear: left;
}
.list .my-deck .card-one{
    box-sizing: border-box;
    width: 10%;
    height: 100%;
    border:solid #000 1px;
    float: left;
}
.list .my-deck .card-one .bg{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}
.list .all-decks{
    margin:5px 2% 0;
    width: 96%;
    overflow: hidden;
}
.list .all-decks .deck-one{
    box-sizing: border-box;
    background-color: #D8D0FF;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    margin: 0 1% 5px;
    width: 23%;
    padding-top: 23%;
    border:5px solid #ffffff;
    float: left;
}
.list .all-decks .deck-one-cur{
    border:3px solid #00EA7F;
}
.list .all-decks .deck-one-shake{
    animation: shakes 0.75s linear infinite;
    -webkit-animation: shakes 0.75s linear infinite;
}
@keyframes shakes {
    0%{
        transform: translateY(-1px) rotate(1deg);
    }
    10%{
        transform: translateY(0) rotate(-1deg);
    }
    20%{
        transform: translateY(1px) rotate(1deg);
    }
    30%{
        transform: translateY(0) rotate(-1deg);
    }
    40%{
        transform: translateY(-1px) rotate(1deg);
    }
    50%{
        transform: translateY(0) rotate(-1deg);
    }
    60%{
        transform: translateY(-1px) rotate(1deg);
    }
    70%{
        transform: translateY(0) rotate(-1deg);
    }
    80%{
        transform: translateY(-1px) rotate(1deg);
    }
    9%{
        transform: translateY(0) rotate(-1deg);
    }
    100%{
        transform: translateY(-1px) rotate(1deg);
    }
}
@-webkit-keyframes shakes {
    0%{
        -webkit-transform: translateY(-1px) rotate(1deg);
    }
    10%{
        -webkit-transform: translateY(0) rotate(-1deg);
    }
    20%{
        -webkit-transform: translateY(1px) rotate(1deg);
    }
    30%{
        -webkit-transform: translateY(0) rotate(-1deg);
    }
    40%{
        -webkit-transform: translateY(-1px) rotate(1deg);
    }
    50%{
        -webkit-transform: translateY(0) rotate(-1deg);
    }
    60%{
        -webkit-transform: translateY(-1px) rotate(1deg);
    }
    70%{
        -webkit-transform: translateY(0) rotate(-1deg);
    }
    80%{
        -webkit-transform: translateY(-1px) rotate(1deg);
    }
    9%{
        -webkit-transform: translateY(0) rotate(-1deg);
    }
    100%{
        -webkit-transform: translateY(-1px) rotate(1deg);
    }
}
.list .hr{
    margin: 5px 2%;
    background-color: #DBDBDB;
    height: 2px;
    border:none;
    text-align: center;

    overflow: hidden;

    cursor: pointer;
}
.list .hr-to-btn{
    height: 30px;
    line-height: 30px;
}
.list .all-cards-list{
    margin: 2px 2%;
    background-color: #E4E4E4;
}
.list .all-cards-list:after{
    clear: left;
}
.list .all-cards-list .card-one{
    background-color: #474747;
    margin:0 0.5% 5px;
    width: 24%;
}
.list .all-cards-list .card-one .bg{
    background-color: #474747;
    background-size: 100% 100%;
    margin:0 0.5% 5px;
    width: 100%;
    padding-top: 167%;
}
.list .all-heroes-bg{
    background-color: #000000;
    opacity: 0.6;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.list .all-heroes-list{
    background-color: #f0f0f0;

    border: 1px solid #D0D0D0;

    overflow: scroll;

    position: fixed;
    top: 150px;
    left: 50px;
    right: 50px;
    bottom: 150px;
}
.list .all-heroes-list:after{
    clear:left;
}
.list .all-heroes-list .hero-one{
    margin: 5px 1% 0;
    width: 31.3%;

    float: left;
}
.list .all-heroes-list .hero-one .avatar{
    background-image: url(../../images/cards/deck_lock.png);
    background-size: 100% 100%;
    margin: 0 1%;
    width: 100%;
    padding-top: 100%;
}
.list .all-heroes-list .hero-one .name{
    text-align: center;
    line-height: 1.5em;
    height: 1.5em;
}