*{
    margin: 0;
    padding: 0;
    border: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.cf{
    clear: both;
    overflow: hidden;
    height: 0;
}
.hide{
    display: none;
}
li{
    list-style: none;
}