<style>
	#consoleDiv {
		background-color: #ffffff;
		width: 48px;
		height: 48px;
		border: #000 solid 1px;
		border-radius: 2px;
		position: absolute;
		top: 0;
		left: 0;
	}

	#consoleDiv div {
		display: none;
	}
	#consoleDiv .linkToMyDeck,#consoleDiv .linkToMyIndex{
		background-color: #EFEFEF;
		text-decoration: none;
		border: #999 solid 1px;
		height: 30px;
		text-align: center;
		line-height: 30px;
	}
</style>
<div id="consoleDiv">
	<div class="linkToMyIndex">
		<a href="<?= base_url() ?>/index.php/">index</a>
	</div>
	<div class="linkToMyDeck">
		<a href="<?= base_url() ?>/index.php/cards/card_list">myDeck</a>
	</div>
</div>
<script src="<?= base_url() ?>/Public/js/jslib/jquery2x.js"></script>
<script>
	var consoleDiv = _.query('#consoleDiv'), isExpand = true;
	_.on(consoleDiv, 'click', function() {
		if (isExpand) {
			$(this).children().show();
			this.style.width = '148px';
			this.style.height = '148px';
		} else {
			$(this).children().hide();
			this.style.width = '48px';
			this.style.height = '48px';
			isExpand = !isExpand;
		}
	});
	(function(_win) {
		var isDown = false, $consoleDiv = $(consoleDiv), currentX = 0, currentY = 0, preX, preY;

		_.on(consoleDiv, 'mousedown touchstart', function() {
			isDown = true;
		});
		_.on(consoleDiv, 'mousemove touchmove', function(_e) {
			var e = _e, x, y;
			if (isDown) {
				if (_e.touches) {
					e = _e.touches[0];
				}
				x = e.pageX, y = e.pageY;

				if (preX && preY) {
					currentX += x - preX;
					currentY += y - preY;

					$consoleDiv.css('left', currentX + 'px');
					$consoleDiv.css('top', currentY + 'px');
				}
				preX = x;
				preY = y;
			}
		});
		_.on(consoleDiv, 'mouseup touchend', function() {
			isDown = false;
		});

	})(this); 
</script>