<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="<?=base_url()?>/Public/css/common.css" />
	<link rel="stylesheet" type="text/css" href="<?=base_url()?>/Public/css/cards/cardList.css" />
    <script type="text/javascript" src="<?=base_url()?>/Public/js/jslib/utils.js"></script>
	<title>卡牌整理</title>
</head>
<style>
</style>
<body>
	<div class="list">
        <ul class="my-deck">
			<li id="deck-one-tmp" class="card-one hide">
				<div class="bg">
				</div>
			</li>
        </ul>
        <hr/>
        <ul class="my-card-list">
			<li id="card-one-tmp" class="card-one hide">
				<div class="bg">
				</div>
			</li>
        </ul>
	</div>
</body>
<script>
	global = {};
	global.myCards = {
		'deck':<?= $deck ?>,
		'all':<?= $all ?>,
	}
</script>
<!-- api -->
<script src="<?=base_url()?>/Public/js/apis/LLApi.js"></script>
<script src="<?=base_url()?>/Public/js/apis/serverConfig.js"></script>
<script src="<?=base_url()?>/Public/js/apis/list/cardList.js"></script>
<!-- card -->
<script src="<?=base_url()?>/Public/js/cards/cardConfigObjList.js"></script>
<script src="<?=base_url()?>/Public/js/cards/cardObject.js"></script>
<script src="<?=base_url()?>/Public/js/cards/cardFactory.js"></script>
<!-- my -->
<script src="<?=base_url()?>/Public/js/views/cards/cardList.js"></script>
</html>
