<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="<?=base_url()?>/Public/css/common.css" />
	<link rel="stylesheet" type="text/css" href="<?=base_url()?>/Public/css/cards/cardList.css" />
	<script src="<?=base_url()?>/Public/js/cards/cardConfigObjList.js"></script>
	<script src="<?=base_url()?>/Public/js/cards/heroConfigObjList.js"></script>
    <script src="<?=base_url()?>/Public/js/jslib/utils.js"></script>
	<script src="<?=base_url()?>/Public/js/jslib/hammer.js"></script>
	<title>card list</title>
</head>
<style>
</style>
<body>
	<div class="list">
        <ul class="my-deck">
			<li id="deck-one-tmp" class="card-one hide">
				<div class="bg">
				</div>
			</li>
        </ul>
		<!-- max:8-->
		<ul class="all-decks">
			<li class="deck-one"> </li>
			<li class="deck-one" > </li>
			<li class="deck-one"> </li>
			<li class="deck-one"> </li>
			<!--
			<li class="deck-one" spot="e"> </li>
			<li class="deck-one" spot="f"> </li>
			<li class="deck-one" spot="g"> </li>
			<li class="deck-one" spot="h"> </li>
			-->
		</ul>
        <div class="hr">Update</div>
		<div style="background-color:#000000;color:#ffffff;text-align:center;width:100%;height: 80px;display: block;" onclick="(function(){location.reload();})();">刷新</div>
		<li id="card-one-tmp" class="card-one hide">
			<div class="bg">
			</div>
		</li>

		<ul class="all-cards-list"></ul>
		<div class="all-heroes-bg hide"></div>
		<ul class="all-heroes-list hide">
			<li id="hero-one-tmp" class="hero-one hide">
				<div class="avatar"></div>
				<div class="name"></div>
			</li>
		</ul>
	</div>
</body>
<script>
	global = {};
	global.user = {
		'userId':'<?= $uid ?>',
		'sessionToken':'<?= $sessionToken ?>'
	};
	global.myCards = {
		'deck':<?= $my_decks ?>,
		'allCard':<?= $all_cards ?>,
		'allHero':<?= $all_heroes ?>
	};
</script>
<!-- api -->
<script src="<?=base_url()?>/Public/js/apis/LLApi.js"></script>
<script src="<?=base_url()?>/Public/js/apis/serverConfig.js"></script>
<script src="<?=base_url()?>/Public/js/apis/list/cardList.js"></script>
<!-- card -->
<script src="<?=base_url()?>/Public/js/cards/cardObject.js"></script>
<script src="<?=base_url()?>/Public/js/cards/cardFactory.js"></script>
<!-- my -->
<script src="<?=base_url()?>/Public/js/views/cards/cardList.js"></script>
</html>
