<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>battle initial</title>
    <script src="<?= base_url() ?>Public/js/jslib/sails.io.js"></script>
    <script type="text/javascript" src="<?=base_url()?>/Public/js/jslib/utils.js"></script>
    <link rel="stylesheet" href="<?= base_url() ?>Public/css/battle/initial.css"/>
    <link rel="stylesheet" href="<?= base_url() ?>Public/css/common.css"/>
</head>
<body>
<div class="prepare-ui">
    <div class="personal">
        <div class="hero">

        </div>
        <div class="record">
            <div class="record-icon">
                <div class="record-win">
                    0
                    <span></span>
                </div>
                <div class="record-lose">
                    0
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <hr class="split-line"/>
    <ul class="personal-deck">
        <li class="deck-one"></li>
        <li class="deck-one"></li>
        <li class="deck-one"></li>
        <li class="deck-one"></li>
        <li class="deck-one"></li>
        <li class="deck-one"></li>
        <li class="deck-one"></li>
        <li class="deck-one"></li>
    </ul>
    <div class="start-battle">

    </div>
</div>
</body>
<script>
    (function(_window){
        var userMsg,
                myDeckIds;

        //myDeckIds的结构为：[{}]
        myDeckIds = <?= $my_deck ?>;

        userMsg = {
                'myDeckIds':myDeckIds,
                'sessionToken':'<?= $sessionToken ?>'
                };
        _window.userMsg = userMsg;
        })(this);
</script>
<script src="<?=base_url()?>/Public/js/cards/cardConfigObjList.js"></script>
<script src="<?=base_url()?>/Public/js/cards/heroConfigObjList.js"></script>
<script src="<?=base_url()?>/Public/js/cards/cardObject.js"></script>
<script src="<?=base_url()?>/Public/js/cards/heroObject.js"></script>
<script src="<?=base_url()?>/Public/js/cards/cardFactory.js"></script>
<script src="<?= base_url() ?>Public/js/battle/battleServerConfig.js"></script>
<script src="<?= base_url() ?>Public/js/views/battle/initial.js"></script>
</html>