<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>battle initial</title>
    <link rel="stylesheet" href="<?= base_url() ?>Public/css/normalize.css"/>
    <link rel="stylesheet" href="<?= base_url() ?>Public/css/common.css"/>
    <link rel="stylesheet" href="<?= base_url() ?>Public/css/battle/initial.css"/>
    <link rel="stylesheet" href="<?= base_url() ?>Public/css/battle/ranking.css"/>
    <link rel="stylesheet" href="<?= base_url() ?>Public/css/battle/battle.css"/>
    <link rel="stylesheet" href="<?= base_url() ?>Public/css/battle/message.css"/>
</head>
<script>
    var baseUrl = '<?= base_url() ?>';
</script>
<body>
<section id="prepare-ui">
    <header id="header">
        <!--
        <div class="personal">
            <div class="hero">
            </div>
            <ul class="record">
                <li class="record-one">
                    <span>等级:</span>
                    <span>青铜1</span>
                </li>
                <li class="record-one">
                    <span>胜场:</span>
                    <span>100</span>
                </li>
                <li class="record-one">
                    <span>胜率:</span>
                    <span>66.7%</span>
                </li>
            </ul>
        </div>
        -->
    </header>
    <div id="cards1">
        <!--
        <section class="behind-cards">
            <h3>底牌</h3>
            <hr class="h-line"/>
            <ul class="cards">
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
            </ul>
        </section>
        -->
    </div>
    <div id="cards2">
        <!--
        <section class="behind-cards">
            <h3>当前</h3>
            <hr class="h-line"/>
            <ul class="cards">
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
            </ul>
        </section>
        -->
    </div>
    <footer id="footer">
        <!-- -->
    </footer>
</section>
<section id="battle">
    <div id="rival-box">
        <!--
        <div class="player-img"></div>
        <div class="player-name">player-name</div>
        <ul class="score-dots">
            <li class="dot-one dot-selected"></li>
            <li class="dot-one"></li>
            <li class="dot-one"></li>
        </ul>
        -->
    </div>
    <div id="battle-field">
        <!--
        <ul class="enemy">
            <li class="chess-one"></li>
            <li class="chess-one"></li>
            <li class="chess-one"></li>
            <li class="chess-one"></li>
            <li class="chess-one"></li>
        </ul>
        <div class="battle-river">
            <button class="endBtn">End</button>
        </div>
        <ul class="enemy">
            <li class="chess-one"></li>
            <li class="chess-one"></li>
            <li class="chess-one"></li>
            <li class="chess-one"></li>
            <li class="chess-one"></li>
        </ul>
        <ul class="back-enemy">
            <li class="chess-one"></li>
        </ul>
        -->
    </div>
    <div id="my-box">
        <!--
        <div class="player-img"></div>
        <div class="player-name">player-name</div>
        <ul class="score-dots">
            <li class="dot-one dot-selected"></li>
            <li class="dot-one"></li>
            <li class="dot-one"></li>
        </ul>
        -->
    </div>
    <footer id="game-bottom">
        <!--
        <ul class="bottom-ops">
            <li class="left"></li>
            <li class="left"></li>
            <li class="center"></li>
            <li class="right"></li>
            <li class="right"></li>
        </ul>
        -->
    </footer>
</section>
<section id="ranking">
    <div id="ranking-list">
        <!--
        <header class="my-record">
            <div class="my-avatar">
            </div>
            <div class="ranking-msg">
                <header class="my-name">
                    XXX
                </header>
                <div class="my-scores">
                    <span class="socres-pre">分:</span>
                    <span class="socres-value">110</span>
                </div>
            </div>
            <div class="ranking-index">
                100
            </div>
        </header>
        <div class="all-list">
            <ol>
                <li class="ranking-one">
                    <dl>
                        <dd class="avatar"></dd>
                        <dd class="name">diyi</dd>
                        <dd class="index">1</dd>
                    </dl>
                </li>
                <li class="ranking-one"></li>
            </ol>
        </div>
        -->
    </div>
    <footer id="ranking-bottom">
    </footer>
</section>
<section id="message">
    <div id="message-box">

    </div>
    <footer id="message-bottom">
    </footer>
</section>
</body>
<script>
    (function(_window){
        _window.userMsg = {
                'uid':'<?= $uid ?>',
                'username':'<?= $username ?>',
                'character':'<?= $character ?>',
                'token':'<?= $sessionToken ?>',
                'chess':'<?= $chesses ?>',
                'win':<?= $win ?>,
                'lose':<?= $lose ?>,
                };
        _window.userMsg.chess = JSON.parse(_window.userMsg.chess);
        })(this);
</script>
<!-- api -->
<script src="<?=base_url()?>/Public/js/apis/LLApi.js"></script>
<script src="<?=base_url()?>/Public/js/apis/serverConfig.js"></script>
<script src="<?=base_url()?>/Public/js/apis/list/chessList.js"></script>
<script src="<?=base_url()?>/Public/js/apis/list/user.js"></script>
<script src="<?=base_url()?>/Public/js/apis/list/ranking.js"></script>
<script src="<?=base_url()?>/Public/js/apis/ws/battle.js"></script>
<!-- config -->
<script src="<?= base_url() ?>Public/js/battle/battleServerConfig.js"></script>
<script src="<?=base_url()?>/Public/js/chess/chessConfigObjList.js"></script>
<!-- lib -->
<script src="<?= base_url() ?>Public/js/jslib/sails.io.js"></script>
<script src="<?= base_url() ?>Public/js/jslib/utils.js"></script>
<script src="<?= base_url() ?>Public/js/jslib/react.js"></script>
<!-- chess -->
<script src="<?=base_url()?>/Public/js/chess/chessFactory.js"></script>
<!-- js -->
<script src="<?= base_url() ?>Public/js/views/battle/data.js"></script>
<script src="<?= base_url() ?>Public/js/views/battle/initial.js"></script>
<script src="<?= base_url() ?>Public/js/views/battle/battle.js"></script>
<script src="<?= base_url() ?>Public/js/views/battle/ranking.js"></script>
<script src="<?= base_url() ?>Public/js/views/battle/message.js"></script>
</html>