<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>battle initial</title>
    <script src="<?= base_url() ?>Public/js/jslib/sails.io.js"></script>
    <link rel="stylesheet" href="<?= base_url() ?>Public/css/battle/initial.css"/>
</head>
<body>
<div class="prepare-ui">
    <div class="personal">

    </div>
    <div class="personal-deck">
    </div>
    <div class="start-battle">

    </div>
</div>
</body>
<script src="<?= base_url() ?>Public/js/battle/battleServerConfig.js"></script>
<script src="<?= base_url() ?>Public/js/battle/initial.js"></script>
</html>