#prepare-ui{
    box-sizing: border-box;
    padding: 2%;
    position: relative;
    display: none;
}
.split-line{
    background-color: #E2CCCC;
    width: 100%;
    height: 2px;

}
#prepare-ui .personal{
    width: 100%;
    padding-bottom: 49%;
}
#prepare-ui .personal .hero{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #e1b1b4;
    margin-right: 1%;
    width: 49%;
    padding-top: 49%;
    float: left;
}
#prepare-ui .personal .record{
    margin-left: 1%;
    width: 49%;
    float: right;
}
#prepare-ui .record .record-one{
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    position: relative;
}
/*------------------------*/
#prepare-ui .behind-cards{
    box-sizing: border-box;
    margin: 10px 0;
    width: 100%;
    position: relative;
}
#prepare-ui .behind-cards h3{
    background-color: #CACACA;
    width: 3em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    font-size: 18px;
    color: #676767;
    z-index: 1;
    position: relative;
}
#prepare-ui .behind-cards .h-line{
    box-sizing: border-box;
    background-color: #CACACA;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 12px;
}
#prepare-ui .behind-cards .cards,.behind-cards .cards-edit{
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 30%;
    position: relative;
}

#prepare-ui .behind-cards .cards li{
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-color: #C8C8C8;
    margin: 0 1%;
    width: 18%;
    padding-top: 25%;

    position: absolute;
    top: 10%;
    left: 0;
}
#prepare-ui .behind-cards .cards-edit li{
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-color: #C8C8C8;
    margin: 0 1%;
    width: 18%;
    padding-top: 25%;

    position: absolute;
    top: 10%;
    left: 0;

    animation: shakes 0.75s linear infinite;
    -webkit-animation: shakes 0.75s linear infinite;
}
#prepare-ui .behind-cards .cards-edit li .selected{
    background-color: green;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
}
@keyframes shakes {
    0%{
        transform: translateY(-1px) rotate(1deg);
    }
    10%{
        transform: translateY(0) rotate(-1deg);
    }
    20%{
        transform: translateY(1px) rotate(1deg);
    }
    30%{
        transform: translateY(0) rotate(-1deg);
    }
    40%{
        transform: translateY(-1px) rotate(1deg);
    }
    50%{
        transform: translateY(0) rotate(-1deg);
    }
    60%{
        transform: translateY(-1px) rotate(1deg);
    }
    70%{
        transform: translateY(0) rotate(-1deg);
    }
    80%{
        transform: translateY(-1px) rotate(1deg);
    }
    9%{
        transform: translateY(0) rotate(-1deg);
    }
    100%{
        transform: translateY(-1px) rotate(1deg);
    }
}
@-webkit-keyframes shakes {
    0%{
        -webkit-transform: translateY(-1px) rotate(1deg);
    }
    10%{
        -webkit-transform: translateY(0) rotate(-1deg);
    }
    20%{
        -webkit-transform: translateY(1px) rotate(1deg);
    }
    30%{
        -webkit-transform: translateY(0) rotate(-1deg);
    }
    40%{
        -webkit-transform: translateY(-1px) rotate(1deg);
    }
    50%{
        -webkit-transform: translateY(0) rotate(-1deg);
    }
    60%{
        -webkit-transform: translateY(-1px) rotate(1deg);
    }
    70%{
        -webkit-transform: translateY(0) rotate(-1deg);
    }
    80%{
        -webkit-transform: translateY(-1px) rotate(1deg);
    }
    9%{
        -webkit-transform: translateY(0) rotate(-1deg);
    }
    100%{
        -webkit-transform: translateY(-1px) rotate(1deg);
    }
}
/*-----------------------*/
#footer,#game-bottom,#ranking-bottom,#message-bottom{
    position: absolute;
    bottom: 0;
    width: 96%;
}
.bottom-ops{
    box-sizing: border-box;
    background-color: #E2CC9C;
    padding: 5px;
    width: 104%;
    height: 40px;
    position: relative;
    left: -2%;
}
.bottom-ops li a{
    color: #474747;
    text-decoration: none;
}
.bottom-ops li.center{
    background-color: #fff;
    width: 28%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    float: left;
}
.bottom-ops li.left{
    background-color: #fff;
    margin-right: 1%;
    width: 17%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 13px;
    float: left;
}
.bottom-ops li.right{
    background-color: #fff;
    margin-left: 1%;
    width: 17%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 13px;
    float: right;
}
