<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <title>人物主界面</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<link rel="stylesheet" type="text/css" href="<?= base_url() ?>/Public/css/user/character_main.css" />
    <script type="text/javascript" src="<?=base_url()?>/Public/js/jslib/utils.js"></script>
</head>
<style>
</style>
<body>
	<div class="character">
		<div class="character_general_window">
		</div>
		<div class="character_army_window">
			<hr class="blank" />
			<div class="character_army">
				<p class="character_army_one"></p>
				<p class="character_army_one two"></p>
				<p class="character_army_one"></p>
				<p class="character_army_one two"></p>
				<p class="character_army_one"></p>
				<p class="character_army_one two"></p>
				<p class="character_army_one"></p>
				<p class="character_army_one two"></p>
				<p class="character_army_one"></p>
				<p class="character_army_one two"></p>
			</div>
			<hr class="blank" />
		</div>
	</div>
	<footer>
		<input type="hidden" class="stoken" value="<?= $sessionToken ?>"/>
	</footer>
</body>
<script src="<?=base_url()?>/Public/js/cards/cardConfigObjList.js"></script>
<script src="<?=base_url()?>/Public/js/cards/cardObject.js"></script>
<script src="<?=base_url()?>/Public/js/cards/cardFactory.js"></script>
<script src="<?= base_url() ?>/Public/js/views/user/player.js"></script>
<script>
(function(_window){
	var userMsg,
        nickName = '<?= $nickname ?>',
        characterImg = '<?= base_url().$character ?>',
		myDeckIds;//init:= [];

	myDeckIds = <?= $my_deck ?>;
	console.log(myDeckIds);
	userMsg = {
		'nickName':nickName,
        'characterImg':characterImg,
		'myDeckIds':myDeckIds.deck,
        'sessionToken':'<?= $sessionToken ?>'
	};
    Player.init(userMsg);
})(this);
</script>
</html>